SECRET_KEY=zf7XF070R-CjkO04Yullyj1XmrSJHgumsbgiEIw38jB2j40DombKKj9ekgK4vcYmHe4
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost,email-assistant-eh8y.onrender.com

GEMINI_API_KEY=AIzaSyBIBlpSVsv-zxrXmf2d-RNiMW9osSw7Eus
GOOGLE_CLIENT_ID=513998375586-qe2t1luqisrsntf3b2v5g1b03edb1h28.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GEMINI_MODEL=gemini-1.5-flash

DB_NAME=email_assistant_db_2
DB_USER=email_assistant_db_2_user
DB_PASSWORD=0FC5el93KJidPAX9MideFonp0FSYlsq6
DB_HOST=dpg-d39qjn6mcj7s739ifmkg-a.singapore-postgres.render.com
DB_PORT=5432

DATABASE_URL=postgresql://email_assistant_db_2_user:0FC5el93KJidPAX9MideFonp0FSYlsq6@dpg-d39qjn6mcj7s739ifmkg-a.singapore-postgres.render.com/email_assistant_db_2





